*{
    padding:0;
    margin:0;
    bottom:0;
    border: 0;
}

/*меняем подсчет ширины блока чтобы было удобнее верстать*/
*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*убираем линии обводки у некоторых браузеров*/
:focus,:active {outline:none}
a:focus,a:active{outline:none}

nav,footer,header,aside {display:block}

/*уравниваем поведение шрифтов и их элементов для разных браузеров*/
html, body {
    height:100%;
    width: 100%;
    font-size:100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*делаем чтобы эти теги наследовали шрифты*/
input,button,textarea {font-family: inherit;}

/*убираем особенности в раных браузерах*/
/*крестик в input в internet explorer*/
input::-ms-clear{display:none}
/*лишние отступы для кнопок в firefox*/
button{cursor:pointer}
button::-moz-focus-inner {padding:0; border:0}
a,a:visited{text-decoration: none;}
/*чистим стили маркированных списков*/
ul-li{list-style:none}
img{vertical-align:top}

h1,h2,h3,h4,h5,h6 {font-family: inherit; font-weight:400}

body {
        background:#e8e8e8 url('../img/bg.png') 50% 130px no-repeat;
}


.content {
    padding: 125px 0px 137px 0px;
    width: 841px;
    margin: 0px auto;
    
}


.content-top {
    text-align:center;
    margin: 0px 0px 70px 0px;
}
.content-top_category {
    opacity: 0.6;
    color: #273d46;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin-bottom: 15px;
}
.content-top_title {
    color: #273d46;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 50px;
    max-width: 725px;
    margin: 0 auto
}


.content-image {
    box-shadow: 0px 15px 65px rgba(15,16,16,0.15);
    background-color: #fff;
    padding: 10px;
    margin: 0px 0px 85px 0px;
}

.content-image__item img {
    max-width: 100%;
}

.content-bottom {
    padding: 0px 45px;
}

.content-bottom_text {
    margin: 40px 0px 0px 0px;
    opacity: 0.7;
    color: #273d46;
    font-size: 24px;
    line-height: 40px;
}

.content-bottom_text p{
    margin: 0px 0px 40px 0px;
}

.content-bottom-info {
   padding:0px 45px;
}

.content-bottom-info-list {
    margin: 0px 0px 40px 0px;
}
.content-bottom-info-list li {
    font-family: Arial;
    font-size: 20px;
    background: url('../img/icons/check.png') left no-repeat;
    margin: 0px 0px 13px 0px;
    padding: 0px 0px 0px 30px;
    list-style-type: none;
}

.content-bottom-info-list li:last-child{
    margin:0px;
}

.content-bottom-info-list li:nth-child(1) {
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    color: #273d46;
    font-size: 20px;
}
.content-bottom-info-list li:nth-child(2) {
  color:#80b7b3;
  font-style:italic;  
}
.content-bottom-info-list li:nth-child(3) {
    color:#273d46;
    font-weight: 700;
}
.content-bottom-info-list li:nth-child(4){
	color: #aeb5b7;
	text-decoration: line-through;
}


.content-bottom-info__link {
 height: 44px;
 line-height: 44px;
 display: inline-block;
 padding: 0px 30px;
 background-color: #80b7b3;
 -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 1px rgba(0, 0, 0,0.5);
 border-radius:30px;
 color: #fff;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 text-transform: uppercase;
 letter-spacing: 2.8px;
}


.content-bottom-info__link:hover{
	background-color:#511e23;
}

.content-bottom-info_link span { 
    padding: 0px 32px 0px 0px;
    background: url(../img/icons/arrow.svg) right no-repeat;
}

.content-bottom-info__link:active{
	position: relative;
	top: 3px;
	-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 1px rgba(0, 0, 0,0.5);
}

